/* COLORS */
$clr-base: #242b37;
$clr-base-dk: #17192b;
$clr-base-dkst: #111111;

$clr-primary: #9e7f66;

$clr-ntrl-min: #fff;
$clr-ntrl-max: #111111;

/* FONT BASE */
$ff-base: "League Spartan", sans-serif;
$fs-base: 1.125rem;
$fs-base-lg: 1.25rem;

/* FONT SIZE */
$fs-h1: 4.5rem;
$fs-h2: 3rem;
$fs-h3: 1.25rem;

/* SMALLER FONT SIZE */
$fs-milli: 1rem;
