/* BUTTON */
.btn {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 10.9375rem;
    padding: 1em 1.65em;
    border: none;
    border-radius: $btn-curved;
    transition: all 0.2s;
    cursor: pointer;

    @media screen and (max-width: 767px) {
        padding: 0.6875em 0.875em;
        min-width: 9.4375rem;
    }

    &--primary {
        background-color: $btn-primary;
        color: $btn-primary-txt;

        &:hover,
        &:active {
            background-color: $btn-primary-hover;
        }
    }

    &--secondary {
        background-color: $btn-secondary;
        color: $btn-secondary-txt;

        &:hover,
        &:active {
            background-color: $btn-secondary-hover;
            color: $btn-secondary-txt-hover;
        }
    }
}

/* IMAGE WRAPPER */
.img-wrapper {
    border-radius: $img-curved;
    overflow: hidden;
    height: 30rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: $tint;
    }
}

/* DECORATE BOX */
.decoration {
    background-color: $tint;

    @media screen and (max-width: 900px) {
        display: none;
    }

    &--right {
        grid-column: main-end / spacing-r-end;
        border-top-left-radius: $img-curved;
        border-bottom-left-radius: $img-curved;
    }

    &--left {
        height: 14.75rem;
        align-self: end;
        grid-column: spacing-l-start / spacing-l-end;
        border-top-right-radius: $img-curved;
        border-bottom-right-radius: $img-curved;
    }
}