h1, h2, h3 {
    text-transform: uppercase;
    color: $text-bold;
    font-weight: 900;
}

h1 {
    font-size: 3.5rem;
    line-height: 1;

    @media screen and (max-width: 900px) {
        font-size: 3rem;
    }
}

h2 {
    font-size: 2rem;
    line-height: 1.125;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.167;
}