:root {
    --main-bg: #0A0C1C;
    --card-bg: #1B1937;
    --accent: #AB5CDB;
    --main-text: #ffffff;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.22;
    background-color: var(--main-bg, #0A0C1C);
    color: var(--main-text, #ffffff);
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3em 0;
}

main {
    width: 100%;
    padding: 0 1.5em;
}

.container {
    max-width: 69.375rem;
    margin: 0 auto;
}

.card {
    background-color: var(--card-bg, #1B1937);
    box-shadow: 0px 1.25em 1.25em -0.625em rgba(23, 25, 41, 0.2);
    border-radius: 0.5em;
    overflow: hidden;
    position: relative;
    animation: slideup 1s cubic-bezier(0.165, 0.84, 0.44, 1);

    display: flex;
}

.card__left {
    padding: 4.5em 5.9375em 3.75em 4.5em;
}

.card__title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1.5625rem;
}

.card__title .highlight {
    color: var(--accent, #AB5CDB)
}

.card__txt {
    font-size: 0.9375rem;
    opacity: 0.75;
    line-height: 1.67;
    width: 90%;
}

.card__list {
    margin-top: 4.5rem;
    display: flex;
}

.card__item {
    flex-basis: 33.33%;
    padding-right: 0.625rem;
}

.card__number {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.125em;
}

.card__label {
    display: block;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 2.1;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.6;
}

.card__right {
    flex-basis: 48%;
    flex-shrink: 0;
    background-color: var(--accent, #AB5CDB);
    position: relative;
}

.card__right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background: url(images/image-header-desktop.jpg) no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
}

/* .card__right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

@keyframes slideup {
    from {
        opacity: 0;
        transform: translateY(6.25rem);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px) {
    .card__title {
        font-size: 1.75rem;
    }

    .card__left {
        padding: 3.75em 5em 3.125em 3.75em;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column-reverse;
        text-align: center;
        max-width: 30rem;
        margin: 0 auto;
    }

    .card__left {
        padding: 3em 3.75em;
    }

    .card__list {
        justify-content: center;
    }

    .card__txt {
        width: 100%;
    }

    .card__right {
        flex-basis: auto;
        width: 100%;
        height: 20rem;
    }
}

@media screen and (max-width: 480px) {
    .card__left {
        padding: 2.5em 1.9375em;
        padding-bottom: 2em;
    }

    .card__title {
        margin-bottom: 1em;
    }

    .card__list {
        margin-top: 2.5rem;
        flex-direction: column;
    }

    .card__list > * + * {
        margin-top: 1.5rem;
    }

    .card__right {
        height: 15rem;
    }
}