/* BASE */
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --dark-gray-blue: hsl(227, 10%, 46%);
    --light-gray: hsl(228, 8%, 92%);
    --avartar-size: 10.6rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    background: var(--dark-cyan, hsl(185, 75%, 39%));
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: -50% -33.75vw, 150% 50vh;
    background-size: 67.5vw auto;
    color: var(--dark-gray-blue, hsl(227, 10%, 46%));
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.container {
    max-width: 35rem;
    margin: 0 auto;
}

.card {
    background-color: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 0 5rem 10rem -2rem rgba(8, 70, 94, 0.5);
    overflow: hidden;
}

.card-header {
    width: 100%;
    height: 14rem;
    background: url(images/bg-pattern-card.svg) no-repeat;
    background-size: cover;
}

.card-body {
    position: relative;
    padding-top: calc(var(--avartar-size, 10.1rem) / 2);
    text-align: center;
}

.card-img {
    width: var(--avartar-size, 10.1rem);
    height: var(--avartar-size, 10.1rem);
    border-radius: 50%;
    border: 5px solid #ffffff;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img img {
    max-width: 100%;
    object-fit: cover;
}

.card-title {
    padding-top: 1.8rem;
    padding-bottom: 2.1rem;
}

.card-user {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.card-user h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--dark-blue, hsl(229, 23%, 23%));
    margin-right: 1.6rem;
}

.card-country {
    font-size: 1.4rem;
}

.card-bottom {
    border-top: 1px solid var(--light-gray, hsl(228, 8%, 92%));
    padding: 2.3rem 0 2.2rem;
}

.card-infos {
    display: flex;
    justify-content: space-evenly;
}

.card-info-number {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--dark-blue, hsl(229, 23%, 23%));
}

.card-info-title {
    font-size: 1rem;
    letter-spacing: 0.15em;
}
